@page "/Clientes"
@using System.Net.Http
@using System.Net.Http.Json
@using GDLIMAT_WASM.Data
@inject HttpClient Http


<h3>Clientes</h3>

<table class="table">
    @if (oRespuesta!=null && oRespuesta.Data!=null)
    {
        @foreach (var oElement in oRespuesta.Data)
        {
            <tr>
                <td>@oElement.NombreCliente</td>
                <td>@oElement.Contacto</td>
                <td>@oElement.Direccion</td>
                <td>@oElement.Email</td>
                <td>@oElement.Telefono</td>
                <td>@oElement.Proyecto</td>
            </tr>
        }
    }


</table>

@code {
    public string Url = "/api/Cliente";
    public Data.Respuesta oRespuesta = new Data.Respuesta();

    protected override async Task OnInitializedAsync() =>
        oRespuesta = await Http.GetFromJsonAsync<Respuesta>(Url);
}
